<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" href="./style.css" rel="stylesheet">
</head>

<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <p><%=content %></p>
        <!-- <form method="post" action="/other">
        <p>
            <input type="text" name="msg">
            <input type="submit" value="Click">
        </p>
    </form> -->
    <p><table style="width:400px;">
        <tr><th>dengondesu</th></tr>
        <tr><td><%= data.msg %></td></tr>
    </table></p>
    <p> your lasr message:<%= cookie_data %></p>
        <form method="post" action="/">
            <p> MESSAGE <input type="text" name  ="msg">
        <input type="submit" value="soshin">
    </p>
    </div>
</body>

</html>